name: Full CD

on:
    workflow_run:
        workflows: ["Full CI"]
        types: [completed]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      
      
      - name: Execute commands via SSM
        id : execute_command
        run: |
          aws ssm send-command \
            --instance-ids ${{ secrets.AWS_INSTANCE_ID }} \
            --document-name "AWS-RunShellScript" \
            --comment "Install Docker if missing and deploy app container" \
            --parameters commands="[
              \"set -e\",
              \"if ! command -v docker >/dev/null 2>&1; then\",
              \"  echo 'Docker not found. Installing Docker...'\",
              \"  apt-get update -y\",
              \"  apt-get install -y ca-certificates curl gnupg lsb-release'\",
              \"  curl -fsSL https://get.docker.com | sh'\",
              \"  systemctl enable docker'\",
              \"  systemctl start docker'\",
              \"  usermod -aG docker ubuntu || true'\",
              \"else\",
              \"  echo 'Docker already installed'\",
              \"fi\",
              \"docker pull taiwrash/secops:latest'\",
              \"docker stop secops || true'\",
              \"docker rm secops || true'\",
              \"docker run -d --restart unless-stopped --name secops -p 5000:5000 taiwrash/secops:latest'\"
            ]"
