name: Full CI

on:
  push:
    branches: [ "main" ]

jobs:

  # build:

  #   runs-on: ubuntu-latest

  #   steps:
  #     -
  #       name: Set up QEMU
  #       uses: docker/setup-qemu-action@v2
  #     -
  #       name: Set up Docker Buildx
  #       uses: docker/setup-buildx-action@v2
  #     -
  #       name: Login to Docker Hub
  #       uses: docker/login-action@v2
  #       with:
  #         username: ${{ secrets.DOCKERHUB_USERNAME }}
  #         password: ${{ secrets.DOCKERHUB_TOKEN }}
  #     -
  #       name: Build and push
  #       uses: docker/build-push-action@v3
  #       with:
  #         push: true
  #         tags: ${{ secrets.DOCKERHUB_USERNAME }}/vampi:latest
  #         platforms: linux/amd64,linux/arm64

  test:
    runs-on: ubuntu-latest
    steps:
      -
       name: Checkout the repo
       uses: actions/checkout@v3
       with:
          fetch-depth: 0
      -
        name: Find leaks
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        uses: gitleaks/gitleaks-action@v2
